@media only screen and (max-width: 1200px) {
	.philosophy .line-h2 {
		margin-left: 32%;
	}
	.footer-nav-ul img {
		height: 3rem;
		width: 3rem;
	}
}

@media only screen and (max-width: 1024px) {
	.philosophy .line-h2 {
		margin-left: 30%;
	}
	/*.footer {
		height: 146rem;
		padding-top: 46rem;
		background-position: top;
	}*/
	.footer {
		background: url(img/footer-bg1024.png);
		background-repeat: no-repeat;
		height: 140rem;
		padding-top: 12rem;
	}
}

@media only screen and (max-width: 980px) {
	.line-nav {
		margin: 0 2rem;
	}
	.more-box-with {
		width: 18rem;
	}
	.more h3 {
		font-size: 2.4rem;
	}
	.begin {
		padding: .3rem 0;
	}
	.begin-box-l p {
		width: 100%;
		/*padding: 0 1.5rem;*/
	}
	.begin-box-r img {
		width: 100%;
	}
	.registration {
		background: url(img/registration-bg3.png);
		background-size: cover;
		background-position: center center;
		padding-top: .3rem;
	}
	.registration .box-left {
		width: 35rem;
	}
	.registration .box-left img {
		width: 100%;
	}
	.registration .box-right {
		width: 40rem;
		height: 32.2rem;
	}
	.registration .box-right .box-right-p {
		padding: 5rem 4rem;
	}
	.class-box .class-box-with {
		width: 18rem;
	}
	.class-box .class-box-with .class-img {
		width: 100%;
	}
	.class-box .class-box-with p {
		width: 90%;
	}
	.class p {
		font-size: 1.6rem;
	}
	.class h3 {
		font-size: 2rem;
		text-align: center;
	}
	.methodology {
		height: fit-content;
		padding-bottom: 18rem;
	}
	.footer-nav-ul img {
		height: 2rem;
		width: 2rem;
	}
}

@media only screen and (max-width: 768px) {
	html {
		font-size: 52.5%;
	}
	h1{
		font-size: 5rem;
	}
	header {
		height: 60rem;
	}
	.row-nav {
		justify-content: space-between;
		flex-direction: row-reverse;
	}
	.main-nav{
		padding-top: 0;
		padding-bottom: 0;
	}
	.logo {
		height: 5rem;
	}
	.mobile-menu span {
		display: block;
	}
	.main-nav {
		display: none;
	}
	.philosophy .line-h2 {
		margin-left: 28%;
	}
	.registration .box-left {
		width: 28rem;
	}
	.registration .box-right {
		width: 28rem;
		height: 26.2rem;
	}
	.registration .box-right .box-right-p {
		padding: 2.5rem 2rem;
	}
	.registration .box-right .box-right-poly {
		padding: 0 1rem;
	}
}
@media only screen and (max-width: 680px) {
	.philosophy .line-h2 {
		margin-left: 21%;
	}
}

@media only screen and (max-width: 480px) {
	.row{
		flex-direction: column;
	}
	html {
		font-size: 42.5%;
	}
	h1 {
		font-size: 2.6rem;
	}
	h1::after {
		margin-left: 2rem;
	}
	h2 {
		font-size: 2.1rem;
	}
	h3 {
		font-size: 2rem;
	}
	h4 {
		font-size: 1.8rem;
	}
	.hero-text-box h4.h4-text {
		font-size: 1.3rem;
	}
	h5 {
		font-size: 1.6rem;
	}
	.hero-text-box p {
		width: 100%;
	}
	.philosophy {
		margin-bottom: 8rem;
	}
	.philosophy h2 {
		padding-top: .5rem;
	}
	.philosophy .line-h2 {
		width: 20rem;
		margin-left: 25%;
		margin-bottom: 2rem;
	}
	.philosophy p {
		margin: 0;
		padding: 2rem 0 1rem 0;
	}
	.philosophy .box-left {
		width: 100%;
	}

	.philosophy .box-right {
		width: 100%;
	}
	.philosophy .btn {
		float: none;
		margin-right: 0;
	}
	.more, .begin {
		height: fit-content;
	}
	.more {
		background: #334f5a;
	}
	.more-box-with {
		width: 100%;
	}
	.more-box-f, .more-box-s, .more-box-l {
		padding-top: 5rem;
	}
	.more-box-f h3 {
		text-align: left;
	}.more-box-s h3 {
		text-align: center;
	}.more-box-l h3 {
		text-align: right;
	}
	.more-box-l p {
		color: #99a2a7;
	}
	.begin {
		padding-top: 6rem;
	}
	.begin .row .begin-box-l {
		order: 2;
	}
	.begin-h2 {
		width: 23rem;
	}
	.registration {
		height: 150rem;
	}
	.registration .box-left {
		width: 100%;
		height: 100%;
	}
	.registration .box-right {
		width: 100%;
		height: 28.2rem;
	}
	.yoga-bold {
		font-size: 5rem;
	}
	.registration h3 {
		font-size: 1.5rem;
	}
	.text-reg img {
		width: 2rem;
		height: 2rem;
	}
	.registration .btn-reg:link,
	.registration .btn-reg:visited {
		margin-top: 2rem;
	}
	.class {
		height: fit-content;
		padding-top: .3rem;
		background: linear-gradient(rgba(73, 201, 212, 0.5),rgba(73, 201, 212, 0.5));
		background-color: #000;
		opacity: 0.9;
	}
	.class-box .class-box-with {
		width: 94%;
	}
	.methodology .box-left {
		text-align: right;
		width: 100%;
	}
	.methodology .box-right {
		width: 100%;
	}
	.methodology p {
		font-size: 1.8rem;
	}
	.therapy {
		height: 40rem;
	}
	.footer {
		background: url(img/footer-bg-mobile.png);
		background-repeat: no-repeat;
		height: 95rem;
		padding-top: 10rem;
	}
	.footer-box {
		flex-direction: column;
	}
	.m-r-l {
		padding-left: 0;
	}
	.line-footer {
		display: none;
		height: 2.5rem;
		width: .2rem;
		margin-top: 0;
	}
	.change::after {
		margin-left: 0;
	}
}
@media only screen and (max-width: 300px) {
	.philosophy .line-h2 {
		margin-left: 15%;
	}
	.registration {
		height: 120rem;
	}
}